# Entorno virtual
.venv/
venv/
ENV/

# Archivos de dependencias locales
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de editor/IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de build
*.egg-info/
dist/
build/

# Datos temporales / cache
*.log
.cache/
*.pytest_cache/

# Archivos de configuración sensibles
.env
